.testimonial-section {
    /* background-color: #f9f9f9; */
  }
  
  .testimonial-card {
    background-color: #E0E0E0; /* Card color white */
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .stars svg {
    margin-right: 5px;
  }
  
  .swiper-pagination-bullets {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background: #000;
    opacity: 0.5;
    transition: opacity 0.3s;
  }
  
  .swiper-pagination-bullet-active {
    opacity: 1;
  }
  
  .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    display: none;
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 4px);
}